<!-- Header -->
<header class="container bb">
	<div class="columns">

		<!-- Activity -->
		<div class="column col-4 text-center clickable tooltip tooltip-bottom" data-tooltip="Activity">
			<i class="material-icons vm">rss_feed</i>
		</div>

		<!-- Today -->
		<div class="column col-4 text-center clickable tooltip tooltip-bottom" data-tooltip="Today">
			<i class="material-icons vm">date_range</i>
		</div>

		<!-- Filter -->
		<div class="column col-4 text-center clickable tooltip tooltip-bottom" data-tooltip="Filter">
			<i class="material-icons vm">filter_list</i>
		</div>

	</div>
</header>

<div class="container">
	<div class="columns">

		<!-- Notification Cards -->
		<div class="column col-12 pb-0" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
			<app-notification-card></app-notification-card>
		</div>

	</div>
</div>