<div class="container">
	<div class="columns">

		<div class="column col-12">
			<span class="lead">Summary: </span>
			<a href="#">Current Month</a>
		</div>

	</div>
</div>

<div class="container bb">
	<div class="columns" *ngIf="summary">

		<!-- Accounts -->
        <div class="column col-md-6 pt-0">
			<app-summary-card
                [additionalText]="summary.accounts.additionalText"
                [amount]="summary.accounts.amount"
                [clickable]="'true'"
                [colorCode]="'#409fe3'"
                [icon]="'account_balance'"
                [isActive]="activeSummaryView === 'accounts'"
                [title]="'Accounts'"
                (click)="loadOrResetSummaryView('accounts')">
			</app-summary-card>
		</div>

		<!-- Incomes -->
        <div class="column col-md-6 pt-0">
			<app-summary-card
                [additionalText]="summary.incomes.additionalText"
                [amount]="summary.incomes.amount"
                [clickable]="'true'"
                [colorCode]="'#489d51'"
                [icon]="'call_received'"
                [isActive]="activeSummaryView === 'incomes'"
                [title]="'Incomes'"
                (click)="loadOrResetSummaryView('incomes')">
			</app-summary-card>
		</div>

		<!-- Spendings -->
		<div class="column col-md-6 pt-0">
			<app-summary-card
                [additionalText]="summary.spendings.additionalText"
                [amount]="summary.spendings.amount"
                [clickable]="'true'"
                [colorCode]="'#d64341'"
                [icon]="'call_made'"
                [isActive]="activeSummaryView === 'spendings'"
                [title]="'Spendings'"
                (click)="loadOrResetSummaryView('spendings')">
			</app-summary-card>
		</div>

		<!-- Cashflow -->
		<div class="column col-md-6 pt-0">
			<app-summary-card
                [additionalText]="summary.cashflow.additionalText"
                [amount]="summary.cashflow.amount"
                [clickable]="'false'"
                [colorCode]="'#000'"
                [icon]="'repeat'"
                [title]="'Cashflow'">
			</app-summary-card>
		</div>

	</div>
</div>

<!-- Child View -->
<router-outlet></router-outlet>