<div class="container">
	<div class="columns">

		<div class="column col-12">
			<span class="lead">Summary: </span>
			<a href="#">Current Month</a>
		</div>

	</div>
</div>

<div class="container" style="border-bottom: 1px solid #f1f1f1;">
	<div class="columns col-multiline">

		<!-- All Accounts -->
		<div class="column col-md-6 pt-0">
			<div class="clickable summary-card" style="border-color: #409fe3; color: #409fe3;">

				<div>
					<span class="lead">All Accounts</span>
					<img class="float-right" alt="All Accounts" src="assets/ic_account_balance_black_24px.svg" />
				</div>

				<div class="text-ellipsis">
					<span>$</span><small> </small><span class="amount">6,000,000</span><small> </small><span>.00</span>
				</div>

				<div class="text-ellipsis">
					<small>Additional <strong>information</strong> goes here.</small>
				</div>

			</div>
		</div>

		<!-- Income -->
		<div class="column col-md-6 pt-0">
			<div class="clickable summary-card" style="border-color: #489d51; color: #489d51;">

				<div>
					<span class="lead">Income</span>
					<img class="float-right" alt="Income" src="assets/ic_call_received_black_24px.svg" />
				</div>

				<div class="text-ellipsis">
					<span>$</span><small> </small><span class="amount">8,200,000</span><small> </small><span>.00</span>
				</div>

				<div class="text-ellipsis">
					<small>Additional <strong>information</strong> goes here.</small>
				</div>

			</div>
		</div>

		<!-- Spending -->
		<div class="column col-md-6 pt-0">
			<div class="clickable summary-card" style="border-color: #d64341; color: #d64341;">

				<div>
					<span class="lead">Spending</span>
					<img class="float-right" alt="Spending" src="assets/ic_call_made_black_24px.svg" />
				</div>

				<div class="text-ellipsis">
					<span>$</span><small> </small><span class="amount">4,000,000</span><small> </small><span>.00</span>
				</div>

				<div class="text-ellipsis">
					<small>Additional <strong>information</strong> goes here.</small>
				</div>

			</div>
		</div>

		<!-- Cashflow -->
		<div class="column col-md-6 pt-0">
			<div class="clickable summary-card" style="border-color: black; color: black;">

				<div>
					<span class="lead">Cashflow</span>
					<img class="float-right" alt="Cashflow" src="assets/ic_repeat_black_24px.svg" />
				</div>

				<div class="text-ellipsis">
					<span>$</span><small> </small><span class="amount">4,200,000</span><small> </small><span>.00</span>
				</div>

				<div class="text-ellipsis">
					<small>Additional <strong>information</strong> goes here.</small>
				</div>

			</div>
		</div>

	</div>
</div>