<nav class="columns bb">

	<!-- Left -->
	<div class="column col-4 col-xs-2">

		<!-- Menu -->
		<i class="material-icons clickable vm">menu</i>

		<!-- Logo -->
		<img class="hide-xs ml-5 clickable vm" alt="Logo" routerLink="/dashboard" src="assets/logo.png" style="height: 20px;" />

	</div>

	<!-- Right -->
	<div class="column col-8 col-xs-10 text-right">

		<!-- Logged In -->
		<section *ngIf="_auth0Service.authenticated()">

			<!-- Search -->
			<i class="material-icons clickable vm">search</i>

			<!-- Cart -->
			<span class="badge" data-badge="99"><i class="ml-5 material-icons clickable vm">shopping_cart</i></span>

			<!-- Mail -->
			<span class="badge" data-badge="99"><i class="ml-5 material-icons clickable vm">mail_outline</i></span>

			<!-- User -->
			<i class="ml-5 material-icons clickable vm" (click)="_auth0Service.logout()">person</i>

			<!-- Exit -->
			<i class="ml-5 material-icons clickable vm">exit_to_app</i>

		</section>

		<!-- Logged Out -->
		<section *ngIf="!_auth0Service.authenticated()">

			<!-- User -->
			<div class="clickable inline-block" (click)="_auth0Service.login()">
				<i class="ml-5 material-icons vm">person</i>
				<span>Login / Register</span>
			</div>

		</section>

	</div>

</nav>