<nav class="columns nav">

	<!-- Left -->
	<div class="column col-4 col-xs-2">

		<!-- Menu -->
		<img class="clickable vm" alt="Menu" src="assets/ic_menu_black_24px.svg" />

		<!-- Logo -->
		<img class="hide-xs ml-5 clickable vm" alt="Logo" routerLink="/dashboard" src="assets/logo.png" style="height: 20px;" />

	</div>

	<!-- Right -->
	<div class="column col-8 col-xs-10 text-right">

		<!-- Search -->
		<img class="clickable vm" alt="Search" src="assets/ic_search_black_24px.svg" />

		<!-- Cart -->
		<span class="badge" data-badge="99"><img class="ml-5 clickable vm" alt="Cart" src="assets/ic_shopping_cart_black_24px.svg" /></span>

		<!-- Mail -->
		<span class="badge" data-badge="99"><img class="ml-5 clickable vm" alt="Mail" src="assets/ic_mail_outline_black_24px.svg" /></span>

		<!-- User -->
		<img class="ml-5 clickable vm" alt="User" src="assets/ic_person_black_24px.svg" />

		<!-- Exit -->
		<img class="ml-5 clickable vm" alt="Exit" src="assets/ic_exit_to_app_black_24px.svg" />

	</div>

</nav>