<div class="container">
	<div class="columns">

		<div class="column col-md-12 text-center bb">

			<div class="btn-group">
				<button class="btn btn-sm btn-primary">CASHFLOW</button>
				<button class="btn btn-sm btn-default">BALANCE</button>
			</div>

			<p class="lead" style="font-size: 5rem; font-weight: 100; margin: 100px 0;">Graph</p>

		</div>

		<div class="column col-md-12 text-center bb">

			<div class="btn-group">
				<button class="btn btn-sm btn-primary">PAYMENTS</button>
				<button class="btn btn-sm btn-default">EXPENSES</button>
			</div>

			<p class="lead" style="font-size: 5rem; font-weight: 100; margin: 100px 0;">Graph</p>

		</div>

	</div>
</div>

<div class="container">
	<div class="columns">

		<div class="column col-md-12 text-center bb">

			<span class="lead">Liquidity Ratios</span>

			<p class="lead" style="font-size: 5rem; font-weight: 100; margin: 100px 0;">Graph</p>

		</div>

		<div class="column col-md-12 text-center bb">

			<span class="lead">Cash Conversion Cycle</span>

			<p class="lead" style="font-size: 5rem; font-weight: 100; margin: 100px 0;">Graph</p>

		</div>

	</div>
</div>

<div class="container">
	<div class="columns">

		<div class="column col-md-12 text-center bb">

			<span class="lead">Daily Sales Outstanding Graph</span>

			<p class="lead" style="font-size: 5rem; font-weight: 100; margin: 100px 0;">Graph</p>

		</div>

		<div class="column col-md-12 text-center bb">

			<span class="lead">Average Days Sales Outstanding</span>

			<p class="lead" style="font-size: 5rem; font-weight: 100; margin: 100px 0;">Graph</p>

		</div>

	</div>
</div>