<div class="container">
	<div class="columns">

		<!-- Cashflow and Balances Chart -->
		<div class="column col-md-12 text-center bb">
			<div class="btn-group">
				<button class="btn btn-sm btn-primary">CASHFLOW</button>
				<button class="btn btn-sm btn-default">BALANCES</button>
			</div>
			<p class="lead" style="font-size: 5rem; font-weight: 100; margin: 100px 0;">Chart</p>
		</div>

		<!-- Payments and Expenses Chart -->
		<div class="column col-md-12 text-center bb">
			<div class="btn-group">
				<button class="btn btn-sm btn-primary">PAYMENTS</button>
				<button class="btn btn-sm btn-default">EXPENSES</button>
			</div>
			<p class="lead" style="font-size: 5rem; font-weight: 100; margin: 100px 0;">Chart</p>
		</div>

	</div>
</div>

<div class="container">
	<div class="columns">

		<!-- Liquidity Ratios Chart -->
		<div class="column col-md-12 text-center bb">
			<span class="lead">Liquidity Ratios</span>
			<p class="lead" style="font-size: 5rem; font-weight: 100; margin: 100px 0;">Chart</p>
		</div>

		<!-- Cash Conversion Cycle Chart -->
		<div class="column col-md-12 text-center bb">
			<span class="lead">Cash Conversion Cycle</span>
			<p class="lead" style="font-size: 5rem; font-weight: 100; margin: 100px 0;">Chart</p>
		</div>

	</div>
</div>

<div class="container">
	<div class="columns">

		<!-- Daily Sales Outstanding Chart -->
		<div class="column col-md-12 text-center bb">
			<span class="lead">Day's Sales Outstanding</span>
			<p class="lead" style="font-size: 5rem; font-weight: 100; margin: 100px 0;">Chart</p>
		</div>

		<!-- Average Days Sales Outstanding Chart -->
		<div class="column col-md-12 text-center bb">
			<span class="lead">Average Day's Sales Outstanding</span>
			<p class="lead" style="font-size: 5rem; font-weight: 100; margin: 100px 0;">Chart</p>
		</div>

	</div>
</div>