<div class="summary-card" [style.border-color]="colorCode" [style.color]="isActive ? '#fff' : colorCode" [style.background-color]="isActive ? colorCode : white" [ngClass]="{'clickable': clickable === 'true'}">

	<div>
		<span class="lead">{{title}}</span>
		<i *ngIf="!isActive" class="float-right material-icons">{{icon}}</i>
		<i *ngIf="isActive" class="float-right material-icons">close</i>
	</div>

	<div class="text-ellipsis">
		<span>{{amount.currencySymbol}}</span><small> </small><span class="amount">{{amount.figure}}</span><small> </small><span>.{{amount.change}}</span>
	</div>

	<div class="text-ellipsis">
		<small>{{additionalText}}</small>
	</div>

</div>