<div class="columns">

	<!-- Main -->
	<div class="column col-9 col-lg-12 p-0">

		<header class="container" style="border-bottom: 1px solid #f1f1f1;">
			<div class="columns">

				<!-- Left -->
				<div class="column col-6">
					<img class="vm" alt="Dashboard" src="assets/ic_track_changes_black_24px.svg" />
					<span class="lead vm">Dashboard</span>
				</div>

				<!-- Right -->
				<div class="column col-6 text-right">
					<a href="#">I want to...</a>
				</div>

			</div>
		</header>

	</div>

	<!-- Sidebar -->
	<aside class="column col-3 hide-lg p-0" style="border-left: 1px solid #f1f1f1;"></aside>

</div>