.bb {
    border-bottom: 1px solid #f1f1f1;
}

.bl {
    border-left: 1px solid #f1f1f1;
}

.clickable {
    cursor: pointer;
}

.p-0 {
    padding: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.pt-0 {
    padding-top: 0;
}

.vm {
    vertical-align: middle;
}

@keyframes placeHolderShimmer{
    0%{ background-position: -468px 0}
    100%{background-position: 468px 0}
}

.animated-bg {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 100%;
    position: relative;
}